* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #191919;
  overflow-x: hidden;
}

.info {
  position: fixed;
  height: 100vh;
  width: 56.7%;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
}

.info h3 {
  position: absolute;
  place-self: center;
  display: block;
  width: 100%;
  text-align: center;
  color: #a7a7a7;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  top: 92vh;
  left: 0;
  font-weight: lighter;
  -webkit-animation-name: scroll-down;
          animation-name: scroll-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
          animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes scroll-down {
  from {
    top: 92vh;
  }
  to {
    top: 90vh;
  }
}

@keyframes scroll-down {
  from {
    top: 92vh;
  }
  to {
    top: 90vh;
  }
}

.info h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
}

.info h1::-moz-selection {
  background-color: #ffffff;
  color: black;
}

.info h1::selection {
  background-color: #ffffff;
  color: black;
}

.info img {
  width: 35%;
}

.info h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 56px;
  text-align: center;
  word-spacing: 3px;
  color: #bcbcbc;
}

.info h2::-moz-selection {
  background-color: #ffffff;
  color: black;
}

.info h2::selection {
  background-color: #ffffff;
  color: black;
}

.copy_rights {
  pointer-events: none;
  position: fixed;
  z-index: 101;
  top: 94%;
  left: 5px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 56px;
  word-spacing: 3px;
  color: #8c8c8c;
}

.gallery {
  position: relative;
  left: 56.7%;
  width: 43.3%;
}

.gallery h1 {
  width: 100%;
  height: 50px;
  padding-top: 9px;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  word-spacing: 3px;
  color: #bcbcbc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gallery img {
  display: block;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery img:hover {
  width: 101%;
}

.gallery img:hover {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1d1d1d8e;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightbox img {
  position: relative;
  cursor: pointer;
  width: 55%;
  border-radius: 15px;
  -webkit-transition: width 0.3s, border-radius 0.3s;
  transition: width 0.3s, border-radius 0.3s;
  z-index: 500;
}

#lightbox img.zoom {
  position: absolute;
  place-self: center;
  border-radius: 0;
  width: 75%;
}

#lightbox #caption {
  width: 25%;
  color: white;
  font-family: "Work Sans", sans-serif;
  text-align: center !important;
  word-wrap: break-word;
}

#lightbox #caption h1 {
  font-size: 32px;
  font-weight: bold;
}

#lightbox #caption h1::-moz-selection {
  background-color: #ffffff;
  color: black;
}

#lightbox #caption h1::selection {
  background-color: #ffffff;
  color: black;
}

#lightbox #caption p {
  display: block;
  margin-top: 5px;
  font-size: 26px;
  font-weight: lighter;
}

#lightbox #caption p::-moz-selection {
  background-color: #ffffff;
  color: black;
}

#lightbox #caption p::selection {
  background-color: #ffffff;
  color: black;
}

#lightbox #caption a {
  display: block;
  color: white;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  border-bottom: 1px white solid;
  font-size: 20px;
  margin-top: 25%;
}

#lightbox #caption a:hover {
  color: #969696;
  border-color: #969696;
}

#lightbox #caption a:focus {
  color: #969696;
  border-color: #969696;
}

#lightbox.active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .info {
    position: relative;
    width: 100%;
  }
  .gallery {
    width: 100%;
    left: 0;
  }
  .gallery img:hover {
    width: 100%;
  }
  #lightbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lightbox img {
    width: 80%;
    border-radius: 12px;
  }
  #lightbox img.zoom {
    cursor: unset;
    position: unset;
    place-self: unset;
    border-radius: 12px;
    width: 80%;
  }
  #lightbox #caption {
    width: 80%;
  }
  #lightbox #caption h1 {
    font-size: 28px;
  }
  #lightbox #caption p {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */